*
  box-sizing: border-box
  
body 
  font-family: 'Proxima Nova Light', sans-serif

img
  max-width: 100%

a 
  text-decoration: none
  outline: none
  cursor: pointer

.container 
  max-width: 1300px
  margin: auto

.button 
  outline: none
  cursor: pointer

.input 
  outline: none
  background-color: transparent
  border: 0px solid

input[type='radio']:after
  width: 14px
  height: 14px
  border-radius: 50%
  top: -2px
  left: -1px
  position: relative
  background-color: #D8E1E5
  content: ''
  color: #ffffff
  display: inline-block
  visibility: visible
  border: 2px solid white

input[type='radio']:checked:after 
  width: 6px
  height: 6px
  border-radius: 50%
  top: 0
  left: 0
  position: relative
  background-color: #ffffff
  content: ''
  display: inline-block
  visibility: visible
  border: 4px solid #CC1E2C

.arrows 
  outline: none 
  cursor: pointer

.title 
  font-family: 'Bebas Neue Regular'
  font-size: 36px
  line-height: 40px
  letter-spacing: 1.8px
  text-transform: uppercase
  text-align: center

.list 
  padding: 0
  list-style: none

.phone
  color: #ffffff
  font-size: 22px
  line-height: 27px
  &--thin
    +thin
    color: #AFAFAF

@media (max-width: 1350px)
  .container 
    max-width: 90%

@media (max-width: 568px)
  .container 
    max-width: 100%

// HOVER ЭФФЕКТЫ 
@media (min-width: 992px)
  // HOVER эффекты блока HEADER 
  .top
    &-list
      &__item, a
        &:hover
          color: #CC1E2C
          cursor: pointer
          transition: 0.2s
    &__login, &__registration, a
      &:hover
        color: #CC1E2C
        cursor: pointer
        transition: 0.2s

  .bottom 
    &-list
      &__item 
        &:hover
          &:after
            content: ''
            position: absolute
            bottom: 0
            z-index: 1
            display: block
            width: 100%
            height: 4px
            background-color: #CC1E2C
            transition: 0.5s
            // transform: translateX(-50%)
            // transition: width .3s ease-in-out
  // HOVER эффекты блока HERO
  .hero 
    &__button
      &:hover 
        background-color: #CC1E2C
        transition: 0.5s 
  // HOVER эффекты блока с предложениями
  .offer
    &__element
      &:hover 
        cursor: pointer
        &:before
          opacity: 1
    &__image
      &--mobile 
          &:hover 
            &:before 
              opacity: 1
  // HOVER эффекты блока с лучшими товарами BEST 
  .best 
    &-card
      &:hover 
        cursor: pointer
      &__title
        &:hover
          color: #CC1E2C
          cursor: pointer
          transition: 0.2s
  // HOVER эффекты блока о компании
  .about 
    &__button 
      &:hover
        +bold
  // HOVER эффекты блока о подписке   
  .follow 
    &__button 
      &:hover
        background-color: #CC1E2C
  
