.follow 
  position: relative
  padding-top: 38px
  background-color: #E8F0F3
  &__title 
    margin-bottom: 14px
  &__link, a 
    text-align: center
    font-size: 16px
    line-height: 0px
    letter-spacing: 0.8px
    color: #131313
    margin-bottom: 33px
    &--mobile 
      display: none
  &-arrows 
    position: absolute
    top: 153px
    right: 0
    left: 0
    display: flex
    justify-content: space-between
    background-color: transparent
    height: 54%
    &__left, &__right 
      padding: 79px 14px
      background-color:#000000
      opacity: 0.4
      img 
        overflow: hidden
        object-fit: cover
  &-wrap 
    display: flex
    justify-content: space-between
    align-items: center
  &__subtitle 
    font-size: 14px
    line-height: 27px
    letter-spacing: 1.45px
    text-transform: uppercase
    +reg
    &--mobile 
      display: none
  &-form 
    display: flex
    align-items: center
  &-data 
    display: flex
    align-items: center
  &__input 
    width: 239px
  &__gender 
    display: flex
    align-items: center
    width: 154px
  &__input, &__gender  
    padding: 13px
    background-color: #fff
  &__male, &__female 
    margin-right: 6px
    margin-left: 13px
    width: 14px 
    height: 14px
  &__button 
    padding: 15px 30px
    background-color:#000000
    color: #ffffff 
    text-transform: uppercase
    font-size: 12px
    line-height: 15px
    letter-spacing: 1.12px
    border: none
    +bold

@media (max-width: 1350px)
  .follow 
    &__subtitle
      &--dekstop 
        display: none
      &--mobile 
        display: flex
        margin: auto

@media (max-width: 1000px)
  .follow 
    padding-top: 28px
    &__title 
      font-size: 26px 
      margin: 0
      letter-spacing: 0.5px
      line-height: 32px
      margin-bottom: 18px
    &__subtitle 
      padding: 14px 0
      font-size: 12px
      line-height: 15px
      +bold
    &-arrows 
      top: 110px
    &-wrap 
      flex-direction: column
      justify-content: center
    &__input 
      width: 186px
      border-right: 1px solid #DEDEDE
    // &__gender 
    //   width: 133px

@media (max-width: 767px)
  .follow
    &-arrows 
      height: 47%
      &__left, &__right
        padding: 40px 14px

@media (max-width: 520px)
  .follow 
    &__link 
      &--dekstop 
        display: none
      &--mobile 
        display: block
    &-form 
      flex-direction: column
    &__button 
      margin: 16px 0
    &__gender 
      width: 133px
      padding: 13px 9px
    &__male
      margin-left: 0px

@media (max-width: 400px)
  .follow
    &-arrows
      &__left, &__right
        padding: 70px 14px

  


