.footer 
  background: #232323
  padding-top: 40px
  padding-bottom: 55px
  &-wrap 
    display: flex
    justify-content: space-between
  &-social 
    display: flex
    list-style: none
    padding: 0