.header 
  &-top
    background: #4F4F4F
    color: #B0B0B0
  &-info 
    display: flex
  &-location 
    display: flex
    align-items: center
    margin-right: 42px
  &__address 
    margin-left: 8px
  &__login, &__registration 
    text-decoration: none
    text-transform: uppercase
    color: #B0B0B0
    cursor: pointer
  &__registration
    margin-left: 21px
  &-bottom 
    background-color: #171717
    color: #ffffff


.top
  &-wrap 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 11px 0
    font-size: 14px
    line-height: 17px
  &-list
    display: flex
    list-style: none
    padding: 0
    margin: 0
    &__item 
      margin-right: 30px
      cursor: pointer
      a 
        text-decoration: none
        color: #B0B0B0
        cursor: pointer

.bottom 
  &-wrap 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 27px 0
    font-size: 14px
    line-height: 17px
  &-list
    display: flex
    list-style: none
    padding: 0
    margin: 0
    &__item 
      margin-right: 30px
      cursor: pointer
      a 
        text-decoration: none
        text-transform: uppercase
        color: #ffffff
        cursor: pointer


