.grid 
  &_item 
    float: left
    max-width: 967px
    min-height: 308px
    margin-bottom: 25px
    &--width2
      max-width: 635px
    &--height2
      min-height: 645px
    &--width3 
      max-width: 302px
// .grid 
//   &_item 
//     float: left
//     width: 73%
//     min-height: 308px
//     margin-bottom: 20px
//     &--width2
//       width: 48%
//     &--height2
//       min-height: 645px
//     &--width3 
//       width: 23%
    
    