.sale
  background-color: #01B0CB
  color: #ffffff
  &-wrap 
    display: flex
    justify-content: flex-end
    padding: 6px 0
  &__text 
    font-size: 12px
    line-height: 15px
    letter-spacing: 0.08em
    text-transform: uppercase
  &__close 
    margin-left: 293px
    width: 18px
    cursor: pointer

